<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/foto1.jpg"
        alt="Babi Goreng"
        class="img-thumbnail rounded-circle"
        width="400px"
      />
      <h1 class="display-4">Edwaldo Utama</h1>
      <p class="lead">Finance ! Web Programmer</p>
    </div>
  </div>
</div>
